<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wardcrew.batandball">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.BatAndBall.Fullscreen"
        android:icon="@mipmap/ic_launcher_adaptive_fore"
        android:roundIcon="@mipmap/ic_launcher"
    >
        <activity
            android:name=".BatAndBallGameActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
    </application>
</manifest>